<div class="all">
    <div class="big-container">
      <div class="block">
        <h3 class="title">
            {{ movie.name }}
        </h3>
        <img id="main" src="{{ movie.image }}" >
      </div>
      <div class="block-2">
        <h4> <span class="blue">Year:</span>{{ movie.year }} </h4>
        <h5>
          <span class="blue">Description</span>:<br> {{ movie.description }}
        </h5>
        <h6>  <span class="rating"> rating: {{ movie.rating }} </span></h6>
      </div>
    </div>

</div>

